  html {
    background: black;
    background-size: cover;
  }

  .display {
    width: 100%;
  }

  .display,
  .score,
  .message {
    flex-direction: column;
    display: flex;
  }

  .display,
  .score,
  .message,
  .buttons {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
  }

  .score {
    margin: 45px;
  }

  .message {
    margin: 25px;
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
    margin: 45px;
  }

  .text {
    font-family: Courier New, Courier,
      Lucida Sans Typewriter,
      Lucida Typewriter,
      monospace;
    font-style: normal;
    font-variant: normal;
    font-size: 24px;
    line-height: 26.4px;
    color: antiquewhite;
    margin: 0;
  }

  #note {
    font-size: 16px;
  }

  #result {
    font-size: 36px;
    font-weight: 700;
  }

  .button {
    background-color: black;
    padding: 0;
    border: 0;
  }

  .button img {
    border: none;
    width: 100px;
    height: 100px;
  }
  
.button:hover {background-color: antiquewhite}

.button:active {
  background-color: antiquewhite;
  transform: translateY(-4px);
}